.northRegion {
	background-color:#252530;
}

.southRegion {
	background-color:yellow;
}

.eastRegion {
	background-color:red;
}

.westRegion {
	background-color:#252530;
	color: white;
}

.centerRegion {
	
}

