.applicationTitle 
{
	font-size: 25px;
    color: white;	
    margin: 0 10px;
    font-family : Helvetica;
    position : relative;
    top : 11px;
    color: #DDDDDD;
} 

img.applicationLogo
{
	height: 48px;
    width: 48px;
    margin : 0 0 0 10px;
}
 
.link 
{
	color: white;
    cursor: pointer;
    text-decoration: none;
    text-align : right;
    margin : 5px;
}

.link:hover 
{
	color: #90ef7f;
}

.category 
{
    background-color: #252530;
    border:1px solid #34343E;
    border-left:0;
    border-right:0;
    font-family: sans-serif;
    font-size: 20px;
    font-weight : bold;
    padding : 5px;
    color : gray;
}

.title 
{
    cursor: pointer;
    text-decoration: none;
}